<style>
  .post-mat-card {
    width: calc(90%);
    font-size: 0;
    margin: auto;
  }
  .header-image { /*agregar el url del avatar del usuario*/
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  a {
    text-decoration: none;
  }
  .limited-size {
    max-width: calc(100%);
  }
</style>

<div>
<mat-card class="post-mat-card">

  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>
      <a href="https://www.shutterstock.com/es/search/example+stamp?image_type=illustration">
        {{relatedUser.name}} {{relatedUser.lastName}}
      </a>
    </mat-card-title> <!-- Cambiar Shiba Inu por el nombre del usuario y el link por su homepage-->
  </mat-card-header>

  <mat-card-content>
    <p>
      {{textPart}}
    </p>
    <div *ngIf="haveInfo">
      <div *ngFor="let element of orderedMultimedia">
        <img [src]="element.link" alt="Image from post" class="limited-size">
      </div>
      <!-- Debería ir un for cuando se tengan multiples multimedias -->

    </div>
  </mat-card-content> <!-- Cambiar Shiba Inu por el post real -->

  <mat-card-actions align="end">
    <button mat-button color="primary" (click)="likePost()">Like ({{fullPost.likes}})</button>
    <button mat-button (click)="getComments(titlePart)">See</button>

    <button mat-button (click)="flagPost()">
      <mat-icon>flag</mat-icon>
    </button>

  </mat-card-actions>

</mat-card>

<!--Solucione el problema del ngFor e ngIf agregando al textarea de los forms "matInput"-->
  <div *ngIf="havePosts">
    <div *ngFor="let a of studentData">
      <app-comment
        [customText]="a.commentDescription"
        [customTitle]="a.id"
        [userId]="a.user.id"
      >
      </app-comment>
    </div>
  </div>
</div>
